
@charset "utf-8";
.Wrap .midWrap .mainContent .Technology {
    color: #3C3C3C;
    line-height: 2em;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList {
    float: left;
    margin: 10px 0;
    padding: 195px 0 0;
    position: relative;
    width: 320px;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyListDouble {
    padding: 390px 0 0;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyListCenter {
    margin: 10px;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title {
    background: url("/public/site/img/technology/technology.title.png") no-repeat scroll 0 0 transparent;
    padding: 25px 0 0;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title01 {
    background-position: -1280px 0;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title02 {
    background-position: 0 0;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title03 {
    background-position: -640px 0;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title04 {
    background-position: -320px 0;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList h4.title05 {
    background-position: -960px 0;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyList div.media {
    left: 0;
    position: absolute;
    top: 0;
}
.Wrap .midWrap .mainContent .Technology .ContData {
    position: relative;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL {
    background: url("/public/site/img/technology/technology.think.image.jpg") no-repeat scroll center center transparent;
    height: 550px;
    overflow: hidden;
    position: relative;
    width: 980px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link {
    cursor: pointer;
    height: 85px;
    position: absolute;
    text-indent: -99999px;
    width: 160px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link01 {
    left: 195px;
    top: 70px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link02 {
    right: 190px;
    top: 70px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link03 {
    left: 185px;
    top: 175px;
    width: 115px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link04 {
    right: 180px;
    top: 175px;
    width: 115px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link05 {
    left: 195px;
    top: 280px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyTHINKUL li.link06 {
    right: 190px;
    top: 280px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data {
    background: url("/public/site/img/BgMask.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: none;
    height: 200px;
    left: 0;
    padding: 300px 50px 50px;
    position: absolute;
    top: 0;
    width: 880px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data .Section {
    bottom: 50px;
    left: 50px;
    position: absolute;
    width: 880px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.dateBoth .Section {
    bottom: 15px;
    position: absolute;
    width: 880px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data .media {
    height: 200px;
    left: 50px;
    position: absolute;
    top: 50px;
    width: 880px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.dateBoth .media {
    left: 175px;
    top: 15px;
    width: 630px;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.dateBoth .media li {
    margin: 5px 0;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data .media li.left {
    float: left;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data .media li.right {
    float: right;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.data .media li img {
    border: 1px solid #4E84A2;
}
.Wrap .midWrap .mainContent .Technology .ContData .technologyDataUL li.btn {
    background: url("/public/site/img/colorbox/btnClose.jpg") no-repeat scroll center center transparent;
    cursor: pointer;
    display: none;
    height: 23px;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    top: 0;
    width: 23px;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchInfo {
    left: 15px;
    margin: 0 0 -15px;
    position: relative;
    width: 950px;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchMedia {
    float: right;
    margin: 0 15px 0 0;
    overflow: hidden;
    width: 485px;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList {
    margin: 50px 0 0;
    position: relative;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchListMargin {
    margin: 50px 15px 0;
    padding: 275px 0 0;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchListHeight {
    padding: 435px 0 0;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList .Section {
    display: block;
    line-height: 1.8em;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList .Section h5 {
    color: #00A5F1;
    font-size: 12px;
    letter-spacing: 1px;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList .Section p {
    margin: 0;
    padding: 0;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList div.media {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList div.media span {
    display: block;
    height: 275px;
    overflow: hidden;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchListHeight div.media span {
    display: block;
    height: 435px;
    overflow: hidden;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList div.media span.left {
    float: left;
}
.Wrap .midWrap .mainContent .Technology .technologyUL .technologyTouchList div.media span.right {
    float: right;
}
